<div mat-dialog-title>
  <h1>Gestion Etudiant</h1>
</div>

<form [formGroup]="eduForm" (ngSubmit)="FormSubmit()">
  <div mat-dialog-content class="content-form">
    <div class="form-group-input">
      <mat-form-field appearance="outline">
        <mat-label>Prenom</mat-label>
        <input
          matInput
          type="text"
          placeholder="prenom"
          formControlName="prenom"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput type="text" placeholder="Nom" formControlName="nom" />
      </mat-form-field>
    </div>

    <div class="form-group-input">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="email"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date de Naissance</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group-input">
      <mat-radio-group aria-label="Select an option" formControlName="genre">
        <mat-label><b>Genre</b></mat-label
        ><br />
        <mat-radio-button value="Homme">Homme</mat-radio-button>
        <mat-radio-button value="Femme">Femme</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-group-input">
      <mat-form-field appearance="outline">
        <mat-label>Niveau D'etude</mat-label>
        <mat-select formControlName="nivEtude">
          <mat-option *ngFor="let val of level" [value]="val">
            {{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Université</mat-label>
        <input
          matInput
          type="text"
          placeholder="Université d'origine "
          formControlName="university"
        />
      </mat-form-field>
    </div>

    <div class="form-group-input">
      <mat-form-field appearance="outline">
        <mat-label>Competences</mat-label>
        <input
          matInput
          type="text"
          placeholder="Placeholder"
          formControlName="competence"
        />
      </mat-form-field>

      <!-- <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput type="text" placeholder="Placeholder" />
    </mat-form-field> -->
    </div>
  </div>

  <div mat-dialog-actions class="margin-btn">
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Update" : "Enregistrer" }}
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      [mat-dialog-close]="false"
    >
      Annuler
    </button>
  </div>
</form>
