
.btn-add-home{
    float: right;
}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
}
.main-body-table{
    padding-top: 25px;
    width: 95%;
    margin: 0 auto;
    
}
.scrol-table-responsive{
  overflow-x: auto;
}
.center-content{
    text-align: center;
}
.flex-icons{
  display: flex;
}

